.navbar {
    border: none;
    background-color: white;
  }


  nav ul li { 

margin-right: 25px; /* if the nav is on the left */ 
} 


.social-icons {
position: fixed;
left: 0;
top: 50%;
transform: translateY(-50%);
z-index: 9999;
}

.social-icons  {
width: 38px;
display: block;
margin-bottom: 10px;
padding: 10px;
background-color: #ffffff;
color: #000000;
border-radius: 50%;
}







  footer {
    background-color: #000;
    color: #fff;
    padding: 70px;
    bottom: 0;
    width: 100%;
  }

  input:hover {
background-color: gray;
border: #000000;
}

input {
background-color: #000;
color: rgb(255, 255, 255);
font-size: 24px;
}

.centertext {

display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 150px;
    padding-bottom: 20px;
}

.titletext {
font-size: 20px;
}

.btn:hover {
  background-color: #635c5c;
  color: white;
  border: #000000;

}

.btn {
  
  background-color: black;
  color: white;
  border-color: black;
  width: 100px;
  height: 40px;
  
}